name: aws-vpc-operator
serviceType: managed

image:
  registry: gsoci.azurecr.io
  name: giantswarm/aws-vpc-operator
  tag: ""
  pullPolicy: IfNotPresent

pod:
  user:
    id: "65532"
  group:
    id: "65532"
  credentials:
    dir: /home/.aws
    filename: credentials

aws:
  accessKeyID: accesskey
  secretAccessKey: secretkey
  region: region

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL

global:
  podSecurityStandards:
    enforced: false
